.webrtcContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.videoRow {
  display: flex;
  width: 100%;
  justify-content:center;
  align-items:center;
  margin-top:50px;
}
.endCall{
    display: flex;
    width: 100%;
    justify-content:center;
    align-items:center;
    margin-top:50px;
}

.videoRow {
  flex-direction: column;
}
.userVideo{
 width:100px;
 height:150px;
 margin-top:-584px;
 margin-left:-540px;
}