
.custom-shape-divider-bottom {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    overflow: hidden;
  }
  
  .custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(146% + 1.3px);
    height: 246px;
  }
  
  .custom-shape-divider-bottom .shape-fill {
    fill: #53317e;
  }
  