@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.navbar-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  /* font-size: 100px; */
}
.navbar {
  align-self: flex-start;
  width: 100vw;
  position: fixed;
}
